# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Go workspace file
go.work

# Binary output
bin/
/fitproj
/uploads